<div class="content">
    <div class="flex justify-content-center">
        <div class="shadow-1 p-6">
            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="my-2">
                    <div class="flex flex-column">
                        <label for="email">Email:</label>
                        <input pInputText id="email" formControlName="email" />
                    </div>
                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                        <small *ngIf="loginForm.get('email')?.errors?.['required']" class="text-red-700">The email is required.</small>
                        <small *ngIf="loginForm.get('email')?.errors?.['email']" class="text-red-700">Invalidated email.</small>
                    </div>
                </div>

                <div class="my-2">
                    <div class="flex flex-column">
                        <label for="password">Password:</label>
                        <input pInputText id="password" type="password" formControlName="password" />
                    </div>
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                        <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-red-700">The password is required.</small>
                        <small *ngIf="loginForm.get('password')?.errors?.['minLength']" class="text-red-700">
                            The password must have at least 8 characters.
                        </small>
                    </div>
                </div>
                <div class="flex justify-content-center mt-4">
                    <p-button type="submit" label="Login" [disabled]="loginForm.invalid"/>
                </div>
                
            </form>
        </div>
    </div>
</div>