<div class="content">
    <p-menubar [model]="filteredItems" class="centered-menubar">
        <ng-template #start>
            <div class="logo text-xl pl-4 text-primary-color font-bold" [routerLink]="['/']">
                POST MANAGER
            </div>
        </ng-template>
        <ng-template #item let-item let-root="root">
            <a pRipple class="flex justify-content-center p-menubar-item-link" [routerLink]="item.link"
                routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: item.exact || false }">
                <img src="/icons/{{item.icon}}.svg" alt="" width="15" height="15">
                <span class="p-button-label">{{ item.label }}</span> 
            </a>
        </ng-template>
        <ng-template #end>
            <div class="flex items-center gap-2 pr-4">
                @if(!isLoggedIn){
                <p-button label="Log In" [link]="true" [routerLink]="['/auth/login']" />
                <p-button label="Sign Up" [link]="true" [routerLink]="['/auth/sign-up']" />
                }

                @if(isLoggedIn){
                <div style="width: 100px;" class="flex justify-content-end mr-4">
                    <app-logout-button (onClick)="logout()"></app-logout-button>
                </div>
                }

            </div>
        </ng-template>
    </p-menubar>
</div>