/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";



body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.bg-primary-color{
    background-color: #1F41AF;
}

.bg-secondary-color{
    background-color: #209CB0;
}

.text-primary-color{
    color: #1F41AF;
}

.text-secondary-color{
    color: #209CB0;
}
