.content{
    width: 100%;
    height: 100%;
    position: relative;
}


.form-container {
    position: relative; 
    width: 400px;
    min-width: 200px;
    max-width: 400px;
    height: 500px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    z-index: 1; 
}

.form-container::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 172, 172, 0.5); 
    backdrop-filter: blur(3px);
    z-index: -1;  
    border-radius: 10px;
}

.logo{

    position: absolute;
    top: 40px;
    left: 40px;
}

.logo:hover{
    cursor: pointer;
}

:host .form-container ::ng-deep .p-button {
    width: 100%;
}
