.content {
    height: 90vh;
}

.custom-btn {
    background-color: #209CB0 !important;
    border-color: #209CB0 !important;
}

.custom-btn:hover {
    background-color: #167d8e !important;
    border-color: #167d8e !important;
}